@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: #E70FAA;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #13B0F5;
  height: 4px;
  border-radius: 2px;
}

.equalizer {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  height: 16px;
  width: 16px;
}

.eq-bar {
  width: 3px;
  background: linear-gradient(90deg,#13B0F5,#E70FAA);
  border-radius: 2px;
  animation: eqAnim 0.6s infinite ease-in-out;
  animation-play-state: paused;
}

.eq-bar:nth-child(1) {
  animation-delay: 0ms;
}
.eq-bar:nth-child(2) {
  animation-delay: 200ms;
}
.eq-bar:nth-child(3) {
  animation-delay: 400ms;
}

@keyframes eqAnim {
  0% { height: 20%; }
  50% { height: 100%; }
  100% { height: 20%; }
}

@keyframes eqAnim {
  0% { height: 20%; }
  50% { height: 100%; }
  100% { height: 20%; }
}

.animate-eq {
  animation: eqAnim 0.6s infinite ease-in-out;
}


/* Désactive complètement le surlignage sur tout le projet */
*::selection {
  background: transparent;
  color: inherit;
}

html, body {
  overflow-x: hidden; /* empêche le scroll horizontal */
}
